body {
  margin: 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  text-align: center;
  background-color: white;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.container {
  width: 100vw;
  padding-bottom: 5rem;
  position: relative;
  z-index: 0;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.upper {
  color: #e4d192;
  font-weight: 500;
  text-transform: uppercase;
}

.banner,
.client {
  transition: opacity 0.7s ease-in-out;
  opacity: 0.1;
}

.heading {
  font-size: 9rem;
  font-weight: 200;
  font-family: "Noto Serif JP", serif;
}

.info {
  color: #2c3639;
  font-size: 2rem;
  font-weight: 300;
}

.banner-info {
  font-size: 3rem;
}

.testimonial-info {
  color: #2c3639;
  font-size: 2rem;
  font-weight: 300;
}

.reveal {
  opacity: 1;
}
